@charset "utf-8";
/* CSS Document */

body{
	background-color:#51B9F0;
}

header{
	top:0;
	left:0;
	position:absolute;
	background-color:#333333;
	width:100%;
	height:60px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bolder;
	font-size:24px;
	color:#FFFFFF;
	background-repeat:repeat-x;
	text-align:center;
}
header span
{
	display:inline-block;
	margin-top:14px;
}

#colors
{
	top:70px;
	position:absolute;
	right:10px;
}

#colors span
{
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:5px;
	background-color:#006600;
	border:3px solid #333333;
	cursor:pointer;
}

#colors span:nth-child(1)
{
	background-color:#C5FFA8;
}

#colors span:nth-child(2)
{
	background-color:#EBBEE2;
}

#colors span:nth-child(3)
{
	background-color:#51B9F0;
}

#colors span:nth-child(4)
{
	background-color:#DBDBDB;
}

#content
{
	margin: 0 auto;
	width: 800px;
	height:300px;
	margin-top:250px;
	border:2px solid #C0C0C0;
	background-color:#FFFFFF;
}

#formContent
{
	margin:0 auto;
	width:600px;
	margin-top:50px;
}

#formContent tr td
{
	padding-top:15px;
}

#formValidation label:nth-child(2n+1)
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:lighter;
	color:#000099;
	margin-right:20px;
}

.editableFields
{
	width:280px;
	height:25px;
}

#formValidation tr:nth-child(3) td input
{
	width:130px;
	height:35px;
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bolder;
	color:#FFFFFF;
	background-color:#51B9F0;
	border:none;
}

#Success
{
	width:400px;
	height:100px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	font-size:26px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	color:#FFFFFF;
}

#pwdText,#unameText
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

input[type="submit"]
{
	float:right;
}